.carousel-container {
    margin-top: 15px;
    background: url('../../images/herobackground.png');
    height: 450px;
    width: 100vw;
    display: flex;
    justify-content: center;

    .carousel-image {
        width: 900px;

        .image-container {
            height: 450px;

            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }
    }

}

@media screen and (max-width: 950px) {
    .carousel-container {
        margin-top: 300px;
    }

}