.r-login {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffcc;
}
h2{
    color: white;
    background-color: red;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px 10px ;


    
}
.r-login h2 span{
    font-size: 2.5vw;
    margin: 0;
    color: #ddd;
    cursor: pointer;
    margin: 0 20px;
    padding: 20px 15px 8px;
    text-transform: uppercase;
}
.r-login h2 span:hover{
    
    color: black;
    
}
/* .r-login h2 span.active{
    
    border-bottom: 3px solid #fff;
    
} */
.cgvfc-form-login-content
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}
.cgv-login-forgotp-link
{
    padding: 0 20px 20px;
    text-align: center;
}
.cgv-login-form
{
    padding: 20px 20px 5px;
    display: block;
    margin-top: 0;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    
}
.r-login input[type=submit]:enabled
{
    width: 100%;
    background-color: #e71a0f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase
}
.r-login input[type=submit]:disabled
{
    width: 100%;
    background-color: #d75049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase
}
.r-login input[type=submit]:enabled:hover {
    background-color: black;
}
.cgvfc form-login-content
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
p{
    color: red;
    text-align: center;
    font-size: 15px;
}
:root
{
    --width: 45% ;
    --height: 400px;
    --href_color: #33ffff;
    --href_size: 20px;

}
label
{
  font-weight: 600;
}
div{
  display: block
}
.href 
{
  color: var(--href_color);
  font-size: var(--href_size);
  text-decoration: none;
}
.input-login
{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}