.Seat-container {
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;

        table-layout: fixed;

        &:hover tr {
            background-color: #ddd;
        }

        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
            word-wrap: break-word;
        }

        th {
            border: 1px solid #ddd;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cb670f;
            color: white;
            overflow: hidden;
            table-layout: fixed;
            text-align: center;

        }
    }


    #movies tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}