.card-container {
    height: 350px;
    width: 250px;

    .card-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .card-button {
        display: none;
        height: 70px;
        background: rgba(31, 28, 28, 0.4);

        .button {
            border-radius: 4px;
            background-color: #E71A0F;
            color: wheat;
            font-family: verdana, arial, sans-serif;
            font-weight: bold;
            padding: 3px 17px 3px 17px;
            font-size: 1rem;
            cursor: pointer;
        }
    }
    &:hover .card-button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: -70px;
    }
    
    &:hover .card-image {
        opacity: 0.92;
    }
}

